:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --black: hsl(0, 0%, 7%);
  --darkgray: #3f3e3e;
  --gray: #737373;
  --light: #d8d8d8;
  --light-hover: #ece9e9;
  --accent: #9c62ff;
  /* font */
  background-color: var(--black);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "karrik-regular";
  src: url("../public/fonts/Karrik-Regular.woff2") format("woff2"),
    url("../public/fonts/Karrik-Regular.woff") format("woff"),
    url("../public/fonts/Karrik-Regular.ttf") format("truetype");
}

@layer base {
  .main {
    @apply text-left text-base;
  }

  section {
    @apply mb-8
  }

  h1 {
    @apply font-serif text-[15vw] leading-[80%] tracking-[-5px] mb-[0.8em] mt-[0.8em] font-semibold w-4/5 text-gray-400;
    font-family: var(--main-font-family);
  }

  h2 {
    @apply font-normal text-[4vw] leading-[105%] tracking-[-0.3px];
  }

  h3,
  a {
    @apply text-[2vw] font-medium leading-[108%] tracking-[0.2px];
  }

  button,
  p {
    @apply text-[clamp(15px,1.5vw,17px)] tracking-[-0.3px];
  }

  @media (max-width: 1000px) {
    button,
    p {
      @apply text-[clamp(15px,1vw,1.1vw)] tracking-[-0.3px];
    }
  }

  @media (max-width: 768px) {
    h1 {
      @apply text-[15vw] tracking-[-1px] mb-4 w-full;
    }

    h2 {
      @apply text-[5vw];
    }

    h3,
    a {
      @apply text-[5vw] leading-[115%] tracking-[-1px];
    }

    p {
      @apply text-base;
    }

    button {
      @apply text-sm;
    }
  }

  @media (max-width: 500px) {
    h2 {
      @apply text-[6vw] w-full;
    }
  }
}
